#chessboard {
    background-image: url("./chessboard.png");
    width: 260px;
    height: 260px;
    scale: 300%;
    position: absolute;
    left: 500px;
    top: 300px;

}

#type {
    position: absolute;
    top: 832px;
    width: 762px;
    height: 40px;
    border: 10px solid black;
    left: 239px;
    background-color: lightgrey
}

#input_text {
    font-family: math;
    font-size: 30px;
    left: 20px;
    position: absolute;
    bottom: -29px;
}

#eval_bar {
    width: 70px;
    height: 774px;
    position: absolute;
    left: 1025px;
    top: 40px;
    border: 3px solid black;
    text-align: center;
    
}

#constant_bar {
    height: 100%;
    background-color: black;
    width: 100%;
}

#variable_bar {
    position: absolute;
    height: 50%;
    bottom: 0px;
    background-color: white;
    width: 100%;
}

#eval_text {
    position: absolute;
    bottom: 50%;
    right: 10px;
    font-family: 'Courier New', monospace;
    font-size: 20px;
}

#a1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 26px;
    width: 26px;
    height: 26px;
}

#a2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 26px;
    width: 26px;
    height: 26px;
}

#a3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 26px;
    width: 26px;
    height: 26px;
}

#a4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 26px;
    width: 26px;
    height: 26px;
}
#a5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 26px;
    width: 26px;
    height: 26px;
}
#a6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 26px;
    width: 26px;
    height: 26px;
}
#a7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 26px;
    width: 26px;
    height: 26px;
}
#a8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 26px;
    width: 26px;
    height: 26px;
}

#b1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 52px;
    width: 26px;
    height: 26px;
}

#b2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 52px;
    width: 26px;
    height: 26px;
}

#b3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 52px;
    width: 26px;
    height: 26px;
}

#b4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 52px;
    width: 26px;
    height: 26px;
}
#b5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 52px;
    width: 26px;
    height: 26px;
}
#b6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 52px;
    width: 26px;
    height: 26px;
}
#b7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 52px;
    width: 26px;
    height: 26px;
}
#b8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 52px;
    width: 26px;
    height: 26px;
}

#c1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 78px;
    width: 26px;
    height: 26px;
}

#c2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 78px;
    width: 26px;
    height: 26px;
}

#c3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 78px;
    width: 26px;
    height: 26px;
}

#c4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 78px;
    width: 26px;
    height: 26px;
}
#c5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 78px;
    width: 26px;
    height: 26px;
}
#c6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 78px;
    width: 26px;
    height: 26px;
}
#c7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 78px;
    width: 26px;
    height: 26px;
}
#c8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 78px;
    width: 26px;
    height: 26px;
}

#d1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 104px;
    width: 26px;
    height: 26px;
}

#d2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 104px;
    width: 26px;
    height: 26px;
}

#d3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 104px;
    width: 26px;
    height: 26px;
}

#d4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 104px;
    width: 26px;
    height: 26px;
}
#d5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 104px;
    width: 26px;
    height: 26px;
}
#d6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 104px;
    width: 26px;
    height: 26px;
}
#d7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 104px;
    width: 26px;
    height: 26px;
}
#d8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 104px;
    width: 26px;
    height: 26px;
}
#e1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 130px;
    width: 26px;
    height: 26px;
}

#e2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 130px;
    width: 26px;
    height: 26px;
}

#e3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 130px;
    width: 26px;
    height: 26px;
}

#e4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 130px;
    width: 26px;
    height: 26px;
}
#e5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 130px;
    width: 26px;
    height: 26px;
}
#e6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 130px;
    width: 26px;
    height: 26px;
}
#e7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 130px;
    width: 26px;
    height: 26px;
}
#e8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 130px;
    width: 26px;
    height: 26px;
}
#f1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 156px;
    width: 26px;
    height: 26px;
}

#f2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 156px;
    width: 26px;
    height: 26px;
}

#f3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 156px;
    width: 26px;
    height: 26px;
}

#f4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 156px;
    width: 26px;
    height: 26px;
}
#f5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 156px;
    width: 26px;
    height: 26px;
}
#f6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 156px;
    width: 26px;
    height: 26px;
}
#f7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 156px;
    width: 26px;
    height: 26px;
}
#f8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 156px;
    width: 26px;
    height: 26px;
}

#g1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 182px;
    width: 26px;
    height: 26px;
}

#g2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 182px;
    width: 26px;
    height: 26px;
}

#g3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 182px;
    width: 26px;
    height: 26px;
}

#g4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 182px;
    width: 26px;
    height: 26px;
}
#g5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 182px;
    width: 26px;
    height: 26px;
}
#g6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 182px;
    width: 26px;
    height: 26px;
}
#g7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 182px;
    width: 26px;
    height: 26px;
}
#g8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 182px;
    width: 26px;
    height: 26px;
}

#h1 {
    position: absolute;
    background-image: none;
    top: 208px;
    left: 208px;
    width: 26px;
    height: 26px;
}

#h2 {
    position: absolute;
    background-image: none;
    top: 182px;
    left: 208px;
    width: 26px;
    height: 26px;
}

#h3 {
    position: absolute;
    background-image: none;
    top: 156px;
    left: 208px;
    width: 26px;
    height: 26px;
}

#h4 {
    position: absolute;
    background-image: none;
    top: 130px;
    left: 208px;
    width: 26px;
    height: 26px;
}
#h5 {
    position: absolute;
    background-image: none;
    top: 104px;
    left: 208px;
    width: 26px;
    height: 26px;
}
#h6 {
    position: absolute;
    background-image: none;
    top: 78px;
    left: 208px;
    width: 26px;
    height: 26px;
}
#h7 {
    position: absolute;
    background-image: none;
    top: 52px;
    left: 208px;
    width: 26px;
    height: 26px;
}
#h8 {
    position: absolute;
    background-image: none;
    top: 26px;
    left: 208px;
    width: 26px;
    height: 26px;
}



